@charset "UTF-8";
@import url(https://fonts.google.com/specimen/Lobster?preview.text=Bendita%20Corteza&preview.text_type=custom);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

#fondoimg {
  background-image: url(../media/fonfofondo1.jpg);
  height: 100vh;
}

/*Cards Size*/
/*Card size*/
/*Color*/
@media screen and (min-width: Sdesktop) {
  div .card {
    width: 18rem;
  }
}
@media screen and (max-width: 850px) and (min-width: 601px) {
  div .card {
    width: 15rem;
  }
}
@media screen and (max-width: 600px) {
  div .card {
    width: 14rem;
  }
}

/*Card size*/
/*Color*/
.wrapper {
  /*Estilos de header*/
  /*Estilo Bloque con comentario*/
  /*Estilos navbar*/
  /*Estilo Sección Fotos*/
  /*Estilos footer*/
  /*Media Query*/ /*Card size*/
  /*Color*/
}
.wrapper header.cabecera {
  height: 400px;
  width: 600px !important;
  margin: auto;
}
.wrapper header.cabecera .animate__animated.animate__fadeInDown {
  --animate-duration: 0.9s;
}
.wrapper header.cabecera .animate__animated.animate__fadeIn {
  --animate-delay: 0.5s;
}
.wrapper header.cabecera h1, .wrapper header.cabecera p.hi {
  font-size: 60px;
  color: #2e1f27;
  font-family: "Lobster", cursive;
  -webkit-text-stroke: 1.5px #f4c95d;
}
.wrapper header.cabecera h2, .wrapper header.cabecera p.hii {
  font-size: 30px;
  color: #2e1f27;
  font-family: "Lobster", cursive;
  margin-top: 50px;
  -webkit-text-stroke: 0.7px #f4c95d;
}
.wrapper header.cabecera .hide {
  display: none;
}
.wrapper header.cabecera span {
  color: #f4c95d;
  -webkit-text-stroke: 1.5px #2e1f27;
}
.wrapper .header_corousel {
  position: absolute;
  top: 20px;
}
.wrapper #Calesita {
  height: 360px;
  width: 600px;
}
.wrapper div.box {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  border-top: 5px solid #2e1f27;
  background-color: #EADA6F;
  overflow: auto;
}
.wrapper div.box h3 {
  font-size: 40px;
  font-weight: bold;
}
.wrapper .video-home {
  height: 530px;
}
.wrapper div.sincol {
  display: none;
}
.wrapper nav.navbarv {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
  margin-left: 15px;
}
.wrapper nav.navbarv a {
  font-weight: bolder;
  font-size: 25px;
  text-decoration: none;
  color: bisque;
  -webkit-text-stroke: 1px #2e1f27;
  padding: 20px;
}
.wrapper nav.navbarv a:hover {
  transform: scale(1.1);
}
.wrapper .home {
  background-image: url(..//media/home.jpeg);
}
.wrapper .mueble {
  background-image: url(..//media/mueble.png);
}
.wrapper .tabla {
  background-image: url(..//media/tabla.jpeg);
}
.wrapper .resta {
  background-image: url(..//media/restaura.png);
}
.wrapper .otros {
  background-image: url(..//media/otro.jpeg);
}
.wrapper .home,
.wrapper .mueble,
.wrapper .tabla,
.wrapper .resta,
.wrapper .otros {
  border-radius: 20px;
  border: 2px solid;
  border-color: black;
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}
.wrapper .home a,
.wrapper .mueble a,
.wrapper .tabla a,
.wrapper .resta a,
.wrapper .otros a {
  font-weight: bolder;
  font-size: 25px;
  text-decoration: none;
  text-align: left;
  color: bisque;
  -webkit-text-stroke: 1px #2e1f27;
}
.wrapper nav.navbar {
  display: none;
}
.wrapper nav.navbar a {
  font-weight: bolder;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;
}
.wrapper #card {
  width: auto;
  margin: auto;
  justify-content: center;
}
.wrapper .card {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  gap: 10px;
  width: 18rem;
}
.wrapper .card-img -top {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper .card:hover {
  transform: scale(1.05);
  background: #2e1f27;
  background: linear-gradient(150deg, rgb(136, 54, 2) 0%, rgb(255, 165, 66) 49%, rgb(252, 176, 69) 68%, rgb(221, 143, 35) 88%, rgb(198, 116, 0) 100%);
}
.wrapper #footer {
  border-top: 5px solid #2e1f27;
  display: inline-flex;
  padding: 30px;
}
.wrapper .form-control {
  margin-bottom: 5px;
  margin-right: 100px;
}
.wrapper label {
  font-weight: bold;
}
.wrapper button {
  justify-content: center;
}
.wrapper div.footer p, .wrapper div.footer a.p {
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 10px;
}
.wrapper div.footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.wrapper div.footer iframe.mapa {
  height: 300px;
  width: 300px;
}
@media screen and (max-width: 850px) {
  .wrapper nav.navbarv a {
    font-size: 18px;
  }
  .wrapper .home, .wrapper .mueble, .wrapper .tabla, .wrapper .resta, .wrapper .otros {
    height: 130px;
    width: 130px;
    padding: 30px;
  }
  .wrapper div.card {
    width: 15rem;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .cabecera {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 50px;
  }
  .wrapper .cabecera h1.hide {
    display: flex;
    margin-top: 20px;
  }
  .wrapper .cabecera h2.hide {
    display: flex;
    margin-top: 120px;
  }
  .wrapper .cabecera #home {
    background-image: url("../media/index/fondo.png");
  }
  .wrapper .cabecera #otros {
    background-image: url("..//media/fondootro.jpeg");
  }
  .wrapper .cabecera #tablas {
    background-image: url("..//media/fondotabla.jpeg");
  }
  .wrapper .cabecera #resta {
    background-image: url("..//media/fondoresta.jpeg");
  }
  .wrapper .cabecera #mueble {
    background-image: url("..//media/fondomueble.jpeg");
  }
  .wrapper div.carousel, .wrapper .slide, .wrapper .carousel-inner, .wrapper .carousel-item, .wrapper #carouselExample, .wrapper nav.navbarv, .wrapper #Disabled, .wrapper div.Disabled {
    display: none;
  }
  .wrapper nav.navbar, .wrapper div.sincol {
    display: flex;
    width: 100%;
  }
  .wrapper div.card {
    width: 14rem;
  }
}

/*# sourceMappingURL=style.css.map */
