/* Error: expected ";".
 *    ,
 * 38 |             display: flex;
 *    |                    ^
 *    '
 *   scss\partials\_querys.scss 38:20  @import
 *   scss\style.scss 226:13            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 38 \2502              display: flex;\d\a    \2502                     ^\a    \2575 \a   scss\\partials\\_querys.scss 38:20  @import\a   scss\\style.scss 226:13            root stylesheet';
}
