$fondo: "default";

@if($fondo == "default"){
    #fondoimg{
        position: relative;
        background-image: url(../media/fonfofondo1.jpg);
        height: 100vh;
    }
}

@if($fondo == "alter 1"){
    #fondoimg{
        background-image: url(../media/fondo3.jpg);
        height: 100vh;
    }
}

/*Cards Size*/

@import "variables";


div{
    @media screen and (min-width: Sdesktop){
        .card{width: $grande;}
        }    
        @media screen and (max-width: #{$desktop - 1px}) and (min-width: $tablet){
            .card{width: $mediano;}
            }
            @media screen and (max-width: $mobile){
                .card{width: $chico;}
                }
}        
