/*Media Query*/

@import "variables";

@media screen and (max-width: 850px) {
    nav.navbarv a{font-size: 18px; 
    }
    .home, .mueble, .tabla, .resta, .otros{
        @include tamanios(130px,130px);
        padding: 30px;    
    }    
    div.card{width: $mediano;}
}

@media screen and (max-width: 600px) {
    .cabecera{
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        margin-bottom: 50px;
        h1.hide{display: flex; margin-top: 20px;}
        h2.hide{display: flex; margin-top: 120px;}
        }

    #home{background-image: url('/media/index/fondo.png');}
    
    #otros{background-image: url('./media/fondootro.jpeg');}
    
    #tablas{background-image: url('../media/fondotabla.jpeg');}
    
    #resta{background-image: url('..//media/fondoresta.jpeg');}
   
    #mueble{background-image: url('...//media/fondomueble.jpeg');}

    div.carousel, .slide, .carousel-inner, .carousel-item, #carouselExample, nav.navbarv, #Disabled, div.Disabled{display: none;}
    
    nav.navbar, div.sincol{display: flex;width: 100%;} 

    div.card{width: $chico;}
}
