/*Media Query*/

@media screen and (max-width: 800px) {
    nav.navbarv a{font-size: 18px; 
    }
    .home, .mueble, .tabla, .resta, .otros{
        width: 150px;
        height: 150px;
        padding: 30px;    
    }
}

@media screen and (max-width: 600px) {
    .cabecera{
        background-image: url('../Media/Index/Fondo.png');
        background-size: 600px;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        margin-bottom: 50px;
        h1.hide{display: flex; margin-top: 20px;}
        h2.hide{display: flex; margin-top: 120px;}
        }

    #home{background-image: url('../Media/Index/Fondo.png');}
    
    #otros{background-image: url('../Media/fondootro.jpeg');}
    
    #tablas{background-image: url('../Media/fondotabla.jpeg');}
    
    #resta{background-image: url('../Media/fondoresta.jpeg');}
   
    #mueble{background-image: url('../Media/fondomueble.jpeg');}

    div.carousel, .slide, .carousel-inner, .carousel-item, #carouselExample{display: none;}
    
    nav.navbarv, #Disabled{display: none;}
    nav.navbar, div.sincol{display: flex;}
}
