/*Media Query*/

@import "variables";

@media screen and (max-width: 850px) {
    nav.navbarv a {
        font-size: 18px;
    }

    .home,
    .mueble,
    .tabla,
    .resta,
    .otros {
        @include tamanios(130px, 130px);
        padding: 30px;
    }

    div.card {
        width: $mediano;
    }
}

@media screen and (max-width: 600px) {
    .cabecera {
        height: 350px !important;
        position: relative;
        display: inline-block;

        img.hide {
            display: inline-block;
            position: relative;
        }

        div.overlay {
            h1.hide {
                position: absolute;
                display: inline-block;
                top: 20px;
            }

            h2.hide {
                position: absolute;
                display: inline-block;
                top: 90px;
            }
        }
    }

    div.carousel,
    .slide,
    .carousel-inner,
    .carousel-item,
    #carouselExample,
    nav.navbarv,
    #Disabled,
    div.Disabled {
        display: none;
    }

    nav.navbar,
    div.sincol {
        display: flex;
        width: 100%;
    }

    div.card {
        width: $chico;
    }
}