/*Media Query*/

@import "variables";

@media screen and (max-width: 850px) {
    nav.navbarv a {
        font-size: 18px;
    }

    .home,
    .mueble,
    .tabla,
    .resta,
    .otros {
        @include tamanios(130px, 130px);
        padding: 30px;
    }

    div.card {
        width: $mediano;
    }
}

@media screen and (max-width: 600px) {
    .cabecera {
        height: 350px !important;
        position: relative;
        display: inline-block;

        h1.hide {
            display: flex;
            margin-top: 20px;
        }

        h2.hide {
            display: flex;
            margin-top: 80px;
        }

        #home{background-image: url(/media/index/fondo.png);}
    }

    div.carousel,
    .slide,
    .carousel-inner,
    .carousel-item,
    #carouselExample,
    nav.navbarv,
    #Disabled,
    div.Disabled {
        display: none;
    }

    nav.navbar,
    div.sincol {
        display: flex;
        width: 100%;
    }

    div.card {
        width: $chico;
    }
}