/*@mixin encabezado($tamanio){
    h1{
        font-size: $tamanio;
    }
    h2{
        font-size: $tamanio / 2;
    }
    h3{
        font-size: $tamanio / 2 + 10;
    }
}*/

@mixin tamanios($alto,$ancho){
    height: $alto;
    width: $ancho;
}

