/*Media Query*/

@media screen and (max-width: 800px) {
    nav.navbarv a{font-size: 18px; 
    }
    .home, .mueble, .tabla, .resta, .otros{
        width: 150px;
        height: 150px;
        padding: 30px;    
    }
}

@media screen and (max-width: 600px) {
    nav.navbarv, #Disabled{display: none;}
    nav.navbar, div.sincol{display: flex;}
}
